@import 'styles/_variables';

.gallery{
	display: flex;
	flex-direction: column;
	align-items: center;

	grid-area: B;

	gap: 3.2rem;
	@media (min-width: $desktop){
		gap: 4rem;
	}
	
	&__description{
		width: 63%;
		@media (min-width: $tablet){
			width: 49%;
			@media (min-width: $desktop){
				width: 29%;
			}
		}
	}
}