@import 'styles/_variables.scss';

.card{
	display: flex;
	align-items: center;
	
	background-color: $cinza-claro-fundos;
	
	gap: 1.6rem;
	padding: 1.6rem;

	img{
		width: 14.8rem;
		margin: .8rem 0 .8rem .8rem;
	}

	&__information{
		display: flex;
		flex-direction: column;
		
		gap: 3rem;

		&-a{
			display: flex;
			flex-direction: column;

			h3{
				color: $azul;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2rem;
				
				margin-block: 0 .8rem;
			}
			p{
				color: $cinza;
				font-size: 1.4rem;
				line-height: 2rem;
				
				margin: 0;
			}
		}
		&-b{
			display: flex;
			justify-content: center;
			flex-direction: column;
		
			p{
				color: $cinza;
				font-size: 1.2rem;
				line-height: 1.6rem;
		
				margin: 0;
			}
			
			&-link{
				display: flex;
				align-items: center;
			
				gap: .8rem;
			
				color: $cinza;
				transition: .2s color;
				font-size: 1rem;
				line-height: 1.6rem;
				text-decoration: none;
				
				svg{
					color: $verde;
					transition: .2s color;
				}

				&:hover{
					color: $azul;
					svg{
						color: $azul;
					}
				}
			}
		}
	}
}