@import 'styles/_variables';

.button {
   display: flex;
   align-items: center;
   justify-content: center;

   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2.4rem;
   text-decoration: none;

   background: $coral;
   
	border-radius: 6px;
   border: none;

   width: 14.8rem;
   height: 4rem;

   color: #ffffff;
	&:hover{
		cursor: pointer;
		background-color: $button-hover;
	}
	@media (min-width: $tablet){
		font-size: 1.8rem;

		width: 16.4rem;
	}
}

.variant__a{
	width: 18rem;
	height: 4rem;
	@media (min-width: $tablet){
		width: 34.4rem;
		height: 4.8rem;
		@media(min-width: $desktop){
			width: 36.2rem;
		}
	}	
}

.variant__b{
	width: 14.8rem;
	height: 4rem;
	@media (min-width: $tablet){
		width: 16.4rem;
		@media(min-width: $desktop){
			width: 17.4rem;
		}
	}	
}

.variant__c{
	width: 14.8rem;
	height: 4rem;
	@media (min-width: $tablet){
		width: 16.4rem;
	}	
}