@import 'styles/variables';

.patas{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;

	&__P{
		width: 13.5rem;
		height: 22.7rem;

		@media(min-width: $tablet){
			display: none;
		}
	}

	&__M{
		width: 22.4rem;
		height: 33.9rem;

		display: none;
		@media(min-width: $tablet){
			display: block;
			@media(min-width: $desktop){
				display: none;
			}
		}
	}

	&__G{
		width: 29.4rem;
		height: 37.8rem;

		display: none;
		@media(min-width: $desktop){
			display: block;
		}
	}
}