@import 'styles/_variables';

.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&__variantA{
		gap: 2.4rem;
		@media (min-width: $tablet){
			gap: 4rem;
			@media (min-width: $desktop){
				gap: 3.2rem;
			}
		}
	}
	
	&__variantB{
   	background-color: $cinza-claro-fundos;
   	border-radius: 10px;
		
		gap: 3.2rem;
		margin-bottom: 1.6rem;
   	padding-inline: 1.6rem;
		padding-block: 3.2rem;
		
		width: 31.2rem;
		@media (min-width: $tablet){
			width: 52.4rem;
			padding-inline: 3rem;
			@media (min-width: $desktop){
				width: 55.2rem;
			}
		}
	}

	&__container{
		display: flex;
		align-items: center;
		flex-direction: column;
		
		gap: 2.4rem;
	}
}