@import 'styles/variables';
@import 'styles/mixins';

.size{
	height: 41.5rem;
	width: 8.4rem;
	@media (min-width: $tablet){
		width: 13.4rem;
		height: 66.4rem;
	} 
}

.v__A{
	@include formaPosition;
	right: 0;
}

.v__B{
	&-normal{
		@include formaPosition;
		left: 0;
		top: 43%;
		@media (min-width: $tablet){
			@include formaPosition;
			display: none;
		}
	}
	&-reverse{
		@include formaPosition;
		display: none;
		@media (min-width: $tablet){
			@include formaPosition;
			right: 0;
			display: block;
		}
	}
}

.v__C{
	@include formaPosition;
	right: 0;
	display: none;
	@media (min-width: $desktop){
		display: block;
	}
}

.v__D{
	@include formaPosition;
	right: 0;
	display: none;
	@media (min-width: $tablet){
		display: block;
	}
}