@import 'styles/variables';

.profile{
	display: flex;
	align-items: center;
	flex-direction: column;

	grid-area: B;

	gap: 2.4rem;
	@media(min-width: $tablet){
		gap: 2.6rem;
		@media(min-width: $desktop){
			gap: 4rem;
		}
	}

	&__description{
		width: 69%;
		@media(min-width: $tablet){
			width: 68%;
			@media(min-width: $desktop){
				width: 54%;
			}
		}
	}

	&__formTitle{
		color: $cinza;
		font-weight: 600;
		font-size: 2.1rem;
		line-height: 2.4rem;
	}
}