@mixin formaV__a($url){
	background: url($url) no-repeat border-box right 35%;
	background-size: 8.4rem 41.5rem;
	@media (min-width: 768px){
		background-size: 13.4rem 66.4rem;
	}
}

@mixin formaV__b($url1, $url2){
	background: url($url1) no-repeat border-box left 76%;
	background-size: 8.2rem 41.5rem;
	@media (min-width: 768px) {
		background: url($url2) no-repeat border-box right 35%;
		background-size: 13.4rem 66.4rem;
	}
}

@mixin formaV__c($url){
	@media (min-width: 768px){
		background: url($url) no-repeat border-box right 35%;
		background-size: 13.4rem 66.4rem;
	}
}

@mixin formaV__d($url){
	@media (min-width: 1024px){
		background: url($url) no-repeat border-box right 35%;
		background-size: 13.4rem 66.4rem;
	}
}