/* Variables */
$header-height: 2.3rem;

/* Colors */
$azul: #3772FF;
$verde: #36D6AD;
$coral: #FC7071;
$creme: #FCF0E3;
$cinza: #737380;
$cinza-claro: #BCBCBC;
$cinza-claro-fundos: #f7f7f7;
$bg-color: #F6F6F6;
$footer-text-color: #ffffff;
$button-hover: #FF9D9E;