@import 'styles/_variables';
@import 'styles/Formas/_FormaB.module.scss';

.wrapper {
	background: url(../../../public/assets/FormaBNormal.svg) no-repeat border-box left 76%;
	background-size: 8.2rem 41.5rem;
	@media (min-width: 768px) {
		background: url(../../../public/assets/FormaBReverse.svg) no-repeat border-box right 35%;
		background-size: 13.4rem 66.4rem;
	}
}

.registration{
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 2.4rem;
	margin-block: 10rem;
	@media (min-width: 768px){
		gap: 4rem;
	}
	&__description{
		width: 88%;
		@media (min-width: 768px){
			width: 69%;
			@media (min-width: 1024px){
				width: 38%;
			}
		}
	}
}