@import 'styles/_variables';

.registration{
	display: flex;
	align-items: center;
	flex-direction: column;

	grid-area: B;

	height: 100%;

	gap: 2.4rem;
	@media (min-width: 768px){
		gap: 4rem;
	}

	&__description{
		width: 88%;
		@media (min-width: $tablet){
			width: 69%;
			@media (min-width: $desktop){
				width: 38%;
			}
		}
	}
}