@import 'styles/_variables';

.title {
   font-weight: 500;
   font-size: 2.6rem;
   @media (min-width: $tablet){
      font-size: 2.8rem;
   }
   line-height: 4.8rem;
   text-align: center;

   color: #ffffff;

   margin: 0;
}