@import 'styles/_variables';

.paragraph {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;

   font-weight: 400;
   font-size: 1.6rem;
   gap: 0.5rem;

   text-align: center;
	@media(min-width : $tablet) {
		font-size: 1.8rem;
	}
   
   .p1{
      margin: 0;
      @media (max-width: $tablet){
         display: none;
      }
   }
   
   .p2{
      margin: 0;
   }
}

.blue{
   color: $azul
}

.white{
   color: white;
}