.Cards{
	display: grid;
	
	grid-template-columns: 1fr;
	gap: 1.6rem;

	padding: 0;
	margin: 0;

	@media (min-width: 768px){
		grid-template-columns: 1fr 1fr;
		margin-inline: 3.2rem;
		@media (min-width: 1024px){
			grid-template-columns: repeat(3, 1fr);
		}
	}
}