@import 'styles/variables';

:root{
  font-size: 62.5%
}

body {
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none;
}

* img {
  width: min(90%, 100%);
}

.wrapper {
  display: grid;
  grid-template-rows: 16rem 1fr 10.4rem;
  grid-template-columns: 1fr;

  grid-template-areas: 
  'A'
  'B'
  'C';

  &__gridA{
    grid-area: A;
  }

  &__gridB{
    grid-area: B;
    align-self: flex-start;
    @media (min-width: 768px){
      padding-top: 8rem;
      @media (min-width: 1024px){
        padding-top: 3.3rem;
      }
    }
  }

  &__gridC{
    grid-area: C;
  }

  height: max(91.9rem, 100vh);
  @media (min-width: 768px) {
    height:  max(120rem, 100vh);
    @media (min-width: 1024px) {
      height: max(100rem, 100vh);
      grid-template-rows: 16rem 1fr 8rem;
    }
  }
}

.bg-azul{
  background-color: blue;
}