@import 'styles/variables';

:root{
  font-size: 62.5%
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  margin-top: -12rem;
}

.hidden {
  display: none;
}

* img {
  width: min(90%, 100%);
}

.wrapper {
  width: min(100%);
  margin-inline: auto;
  @media (min-width: 768px) {
    width: min(76.8rem, 100%);
    margin-inline: auto;
    @media (min-width: 1024px) {
      width: 100%;
      margin-inline: auto;
    }
  }
}

.bg-azul{
  background-color: blue;
}